<!doctype>
<html>
<head>
	<meta charset="utf-8" />
	<title>Ping me</title>
</head>
<body>
	<h1>PingME</h1>
	<h2>Specify your name:</h2>
	<form method="POST" enctype="multipart/form-data">
		<input type="text" name="username" placeholder="Your name" />
		<input type="submit" value="GO">
	</form>
</body>
</html>
