<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8" />
	<title>Ping me</title>
    <link rel="stylesheet" type="text/css" href="/static/style/template.css" />
</head>
<body>
    <div class="wrapper">
        <nav>
            <a href="/">Create</a>
            <a href="/#about">About</a>
        </nav>
        <main role="main">
            <h1>Ping {{.Room}}</h1>

            {{if .IsHost}}
            <h2>Log:</h2>
            <textarea id="log" readonly></textarea>
            {{else}}
            <h2>{{.Room}} is notified!</h2>
            {{end}}
        </main>
        <footer>
            Made by <a href="//zaynetro.github.io">zaynetro</a> 2015
        </footer>
    </div>

    {{if .IsHost}}
    <script>
    ;(function (window, document, undefined) {
        var host = window.location.host;
        var protocol = (
            window.location.protocol === 'https' 
                ? 'wss'
                : 'ws'
        );

        var url = protocol + '://' + host + '/ws';
        var c = new window.WebSocket(url);

        var logEl = document.querySelector('#log');

        c.onmessage = function (data) {
            log(data.data);
            action(processMsg(data.data));
        };

        c.onopen = function () {
            log('Connection opened');
        };

        c.onclose = function () {
            log('Connection closed');
        };

        function log(text) {
            logEl.value = (new Date()).toLocaleString() + ': "' + text + '"\n' + logEl.value;
            console.log(text);
        }

        var fields = ['name', 'content']
        function processMsg(msg) {
            var obj = {};
            var arr = msg.split(':');
            arr.forEach(function (el, index) {
                if(index >= fields.length) return;

                obj[fields[index]] = el;
            });
            return obj;
        }

        function action(e) {
            switch(e.name) {
                case 'notify':
                    notify('Someone needs you');
                    break;
            }
        }

        function notify(msg) {
            if(!('Notification' in window)) {
                console.log('Browser doesn\'t support Notification');
                return;
            }

            if(!isNotifAllowed) return;

            var notification = new window.Notification('Are you there?', {
                icon: 'https://cdn0.iconfinder.com/data/icons/christmas-free-icon-pack/128/bell-128.png',
                body: msg
            });
        }

        var isNotifAllowed = false;
        function confNotifications() {
            if(window.Notification.permission === 'granted') {
                isNotifAllowed = true;
                return;
            }

            if(window.Notification.permission !== 'denied') {
                window.Notification.requestPermission(function (permission) {
                    isNotifAllowed = permission === 'granted';
                });
            }
        }

        confNotifications();
    })(window, document, undefined);
    </script>
    {{end}}
</body>
</html>
